@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --bg-color: #0C0C0D;
    --bubble-color: #161718;
    --bubble-border-radius: 15%;
    --body-padding: 0 1rem;
    --bubble-padding: 2rem 1rem;
    --smAccount-color: #4C80E6;
    --userPic-color: #AFC5F3;
    --wifi-bg-color: #326FE6;
    --quickShare-bg-color: #326EE6;
    --modos-bg-color: #5E4EC8;
    --icon-border-radius: 22%;
    --icon-border: .18rem solid;
    --header-font-color: #FCFBFF;
    --header-font-size: 1rem;
    --span-section-color: #9B999F;
    --section-span-size: .8rem;
    --barra-de-estado-color: #D05314;
    --modo-de-sonido-color: #6166D1;
    --modos-color: #5C4FC9;
    --linea-color: #9B999F;
    --brillo-color: #9ABF11;
    --bateria-color: #327AD9;
    --fondos-color: #D54E76;
    --temas-color: #D64E74;
    --icon-size: 1.5rem;
    --diseno-color: #327AD9;
    --bloque-de-patalla-color: #1879DB;
    --datos-biometricos-color: #535DE3;
    --ubicacion-color: #535DE3;
    --datos-medicos-color: #C43730;
    --adminstrar-cuentas-color: #326EE7;
    --lab-color: #CC9B3F;
    --bienestar-color: #46A637;
    --almacenamiento-color: #11998E;
    --aplicaciones-color: #3876F2;
    --administracion-general-color: #5D5F8C;
    --accesibilidad-color: #3A9D32;
    --manual-de-usuario-color: #D98E32;
    --asistencia-remota-color: #DBA625;
    --acerca-del-telefono: #555473;
    --opciones-desarrollador: #5E608F;
    --update-color: #3A6DD3;
}

*,::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;    
    background-color: var(--bg-color);
    gap: 2rem;
    /* font-family: 'Roboto', sans-serif; */
}

.stats-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: var(--body-padding);
    color: var(--header-font-color);
}

.stats-bar img{
    width: 1rem;
    height: 1rem;
}

.stats{
    display: inherit;
    align-items: center;
}

.sm-account{
    background-color: var(--bubble-color);
    padding: var(--bubble-padding);
    display: flex;
    border-radius: var(--bubble-border-radius);
    width: 100%;
    height: 6rem;
    align-items: center;
}

.text span{
    color: var(--span-section-color);
    width: 75%;
    text-wrap: wrap;
    font-weight: 600;
    font-size: .8rem;

}

.text h2{
    font-size: 1.15rem;
    color: var(--header-font-color);
}

.sm-account span{
    color: var(--smAccount-color);
}

.search-bar{
    display: flex;
    justify-content: space-between;
    padding: var(--body-padding);
    font-size: 1.4rem;
    align-items: center;
    color: var(--header-font-color);
}

.search-bar svg{
    width: 1.4rem;
    height: 1.4rem;
}

.user-pic{
    background-color: #AFC5F3;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    position: relative;
}

/* user pic vector */
.user-pic::before{
    position: absolute;
    content: '';
    width: .6rem;
    height: .6rem;
    background-color: #000;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 1rem;
    left: 0;
    margin: auto;
}

.user-pic::after{
    position: absolute;
    content: '';
    width: .8rem;
    height: .6rem;
    background-color: #000;
    top: .75rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50% 50% 0 0;
}


.bubble{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--bubble-color);
    border-radius: var(--bubble-border-radius);
    padding: 1rem;
    position: relative;
}

.dos::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 2rem;
    margin: auto;
    width: 75%;
    height: 1px;
    background-color:  var(--span-section-color);
}

/* lineas que separan .section cuando .bubble tiene 3 .section */
.tres::before{
    position: absolute;
    content: '';
    top: -5.5rem;
    right: 0;
    bottom: 0;
    left: 2rem;
    margin: auto;
    width: 75%;
    height: 1px;
    background-color:  var(--span-section-color);
}


.tres::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: -3.8rem;
    left: 2rem;
    margin: auto;
    width: 75%;
    height: 1px;
    background-color:  var(--span-section-color);
}

/* para el contenedor con clase .tres-text-wrap cambio las posiciones absolutas debido a un wrap del texto que desfasa las lineas que separan .secion */

.tres-text-wrap::before{
    position: absolute;
    content: '';
    top: -4rem; /* se cambia el top de -5.5rem a -4rem para que quede centrada la linea  */
    right: 0;
    bottom: 0;
    left: 2rem;
    margin: auto;
    width: 75%;
    height: 1px;
    background-color:  var(--span-section-color);
}


.tres-text-wrap::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: -5.5rem; /* se cambia el bottom de -3.8rem a -5.5rem para que quede centrada la linea */
    left: 2rem;
    margin: auto;
    width: 75%;
    height: 1px;
    background-color:  var(--span-section-color);
}

/* section sera una clase general para todos los contenederes hijos de .bubble */
.section{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.section h3{
    color: var(--header-font-color);
    font-size: var(--header-font-size);
    font-weight: 500;
}

.section span{
    font-size: var(--section-span-size);
    color: var(--span-section-color);
    font-weight: 500;
}

.icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--icon-border-radius);
}

.wifi-icon{
    background-image: url(../assets/icons/wifi_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
    background-color: var(--wifi-bg-color);
    border: var(--icon-border) var(--wifi-bg-color);
}

.quick-share-icon{
    background-image: url(../assets/icons/quick-share-seeklogo.svg);
    background-color: var(--quickShare-bg-color);
    border: var(--icon-border) var(--quickShare-bg-color);
}

.modos-icon{
    position: relative;
    background-color: var(--modos-color);
    border: var(--icon-border) var(--modos-color);
    background-image: url(../assets/icons/autorenew_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.modo-de-sonido-icon{
    background-color: var(--modo-de-sonido-color);
    border: var(--icon-border) var(--modo-de-sonido-color);
    background-image: url(../assets/icons/volume_up_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.barra-de-estado-icon{
    background-color: var(--barra-de-estado-color);
    border: var(--icon-border) var(--barra-de-estado-color);
    background-image: url(../assets/icons/breaking_news_alt_1_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.brillo-icon{
    background-color: var(--brillo-color);
    border: var(--icon-border) var(--brillo-color);
    background-image: url(../assets/icons/light_mode_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.bateria-icon{
    background-color: var(--bateria-color);
    border: var(--icon-border) var(--bateria-color);
    background-image: url(../assets/icons/battery_full_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.fondos-icon{
    background-color: var(--fondos-color);
    border: var(--icon-border) var(--fondos-color);
    background-image: url(../assets/icons/image_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}



/* no consegui un icono parecido asi que lo hice por mi cuenta */
.temas-icon{
    background-color: var(--temas-color);
    position: relative;
}

.temas-icon span{
    position: absolute;
    top: 0;
    right: 0;
    bottom: .4rem;
    left: 0;
    margin: auto;
    background-color: var(--header-font-color);
    width: .9rem;
    height: .3rem;
    border-radius: 15%;
}

.temas-icon span::before{
    content: '';
    position: absolute;
    top: .5rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--header-font-color);
    width: 100%;
    height: 100%;
    border-radius: 5% 5% 100% 100%;
}

.temas-icon span::after{
    content: '';
    position: absolute;
    top: .8rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--header-font-color);
    width: 25%;
    height: 100%;
    border-radius: 15% 15% 100% 100%;
}

.diseno-icon{
    background-color: var(--diseno-color);
    border: var(--icon-border) var(--diseno-color);
    background-image: url(../assets/icons/home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.bloqueo-de-pantalla-icon{
    background-color: var(--bloque-de-patalla-color);
    border: var(--icon-border) var(--bloque-de-patalla-color);
    background-image: url(../assets/icons/lock_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.datos-biometricos-icon{
    background-color: var(--datos-biometricos-color);
    border: var(--icon-border) var(--datos-biometricos-color);
    background-image: url(../assets/icons/shield_lock_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.ubicacion-icon{
    background-color: var(--ubicacion-color);
    border: var(--icon-border) var(--ubicacion-color);
    background-image: url(../assets/icons/location_on_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.datos-medicos-icon{
    background-color: var(--datos-medicos-color);
    border: var(--icon-border)  var(--datos-medicos-color);
    background-image: url(../assets/icons/health_and_safety_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.administrar-cuentas-icon{
    background-color: var(--adminstrar-cuentas-color);
    border: var(--icon-border) var(--adminstrar-cuentas-color);
    background-image: url(../assets/icons/forward_circle_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.google-icon{
    background-color: var(--adminstrar-cuentas-color);
    border: var(--icon-border) var(--adminstrar-cuentas-color);
    background-image: url(../assets/icons/icons8-google.svg);
}

.lab-icon{
    background-color: var(--lab-color);
    border: var(--icon-border) var(--lab-color);
    background-image: url(../assets/icons/settings_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.bienestar-icon{
    background-color: var(--bienestar-color);
    border: var(--icon-border) var(--bienestar-color);
    background-image: url(../assets/icons/favorite_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.almacenamiento-icon{
    background-color: var(--almacenamiento-color);
    border: var(--icon-border) var(--almacenamiento-color);
    background-image: url(../assets/icons/autorenew_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.aplicaciones-icon{
    background-color: var(--aplicaciones-color);
    position: relative;
}

.aplicaciones-icon::before{
    content: '';
    top: -.4rem;
    right: -.4rem;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: .4rem;
    height: .4rem;
    background-color: var(--header-font-color);
    border-radius: 45%;

}

.aplicaciones-icon::after{
    content: '';
    top: .4rem;
    right: .4rem;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: .4rem;
    height: .4rem;
    background-color: var(--header-font-color);
    border-radius: 45%;
}

.administracion-general-icon{
    background-color: var(--administracion-general-color);
    border: var(--icon-border) var(--administracion-general-color);
    /* background-image: url(assets/icons/); */
    position: relative;
}

.administracion-general-icon::before{
    width: 1rem;
    height: .12rem;
    background-color: var(--header-font-color);
    content: '';
    position: absolute;
    top: -.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 10%;
}

.administracion-general-icon::after{
    width: 1rem;
    height: .12rem;
    background-color: var(--header-font-color);
    content: '';
    position: absolute;
    top: .5rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 10%;
}

.accesibilidad-icon{
    background-color: var(--accesibilidad-color);
    border: var(--icon-border) var(--accesibilidad-color);
    background-image: url(../assets/icons/accessibility_new_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.update-icon{
    background-color: var(--update-color);
    border: var(--icon-border) var(--update-color);
    background-image: url(../assets/icons/sync_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.manual-usuario-icon{
    background-color: var(--manual-de-usuario-color);
    border: var(--icon-border) var(--manual-de-usuario-color);
    background-image: url(../assets/icons/developer_guide_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.asistencia-remota-icon{
    background-color: var(--asistencia-remota-color);
    border: var(--icon-border) var(--asistencia-remota-color);
    background-image: url(../assets/icons/phone_in_talk_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg);
}

.about-icon{
    background-color: var(--acerca-del-telefono);
    border: var(--icon-border) var(--acerca-del-telefono);
    position: relative;
    text-align: center;
    z-index: 4;
}

.about-icon::before{
    color: var(--acerca-del-telefono);
    z-index: -12;
    content: 'i';
}

.about-icon::after{
    z-index: -10;
    border-radius: 100%;
    background-color: var(--header-font-color);
    width: 1.1rem;
    height: 1.1rem;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.dev-options-icon{
    background-color: var(--opciones-desarrollador);
    border: var(--icon-border) var(--opciones-desarrollador);
    text-align: center;
    color: var(--header-font-color);
}

.dev-options-icon::before{
    content: '{ }';
}   

/* agregar las lineas al ultimo bubble */

.cinco::before{
    position: absolute;
    content: '';
    top: 4rem;
    right: 0;
    left: 2rem;
    margin: auto;
    width: 75%;
    height: 1px;
    background-color:  var(--span-section-color);
}

.cinco::after{
    position: absolute;
    content: '';
    top: 8.5rem;
    right: 0;
    left: 2rem;
    margin: auto;
    width: 75%;
    height: 1px;
    background-color:  var(--span-section-color);
}

.update{
    position: relative;
}

.update:before{
    position: absolute;
    content: '';
    top: 12rem;
    right: 0;
    left: 2rem;
    margin: auto;
    width: 82%;
    height: 1px;
    background-color: var(--span-section-color);
}

.update::after{
    position: absolute;
    content: '';
    top: 16.5rem;
    right: 0;
    left: 2rem;
    margin: auto;
    width: 82%;
    height: 1px;
    background-color: var(--span-section-color);
}

/*design made for mobile device only */